extends menu

block content
    img(src='/public/images/dashboard_help_02.png' , alt='Select Your Group', width="85%", height="85%", align="middle")

    br
    h4 Get source code/contribute/report bugs
        a(href="https://github.com/kmalkin/gitlab-merge-request-dashboard") here