extends menu

block content
    h1 Select the group you want to see merge requests for
    h5 Using the dropdown menu in the upper right corner you should be able to select one of your pre-configured groups
    img(src='/public/images/dashboard_help_01.png' , alt='Select Your Group', width="50%" height="50%")